@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 106 127 193;
  --bg: 255 255 255;
  --soft-bg: 249 249 249;
  --text: 41 41 41;
}

:root.dark {
  --bg: 34 34 34;
  --soft-bg: 41 41 41;
  --text: 255 255 255;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));

  height: 100%;
}